h3 {
    font-size: 25px; /* Размер шрифта */
    font-family: 'Times New Roman', Times, serif; /* Шрифт текста */
}
.textt {
    font-size: 20px; /* Размер шрифта */
    font-family: 'Times New Roman', Times, serif; /* Шрифт текста */
}

